@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ck_project.lead_log_file>


@Html.Partial("_AdminMenu")

<div class="container">
    <table>
        <tr>
            <td style="width:435px"><h2>Other Reports</h2></td>
            <td style="width:680px" align="right"></td>
        </tr>
        <tr>

            <td>This page displays the other reports.</td>

</div>
